@model IEnumerable<ThinkTech.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h4>Index</h4>


<div class="row">
    <div class="col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="~/Content/images/pie.jpg" alt="">
        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="~/Content/images/3dprintprint.jpg" alt="">

        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="~/Content/images/rocket.jpg" alt="">

        </a>
    </div>
    <div class="col-md-3 portfolio-item">
        <a href="#">
            <img class="img-responsive" src="~/Content/images/twirl.gif" alt="">

        </a>
    </div>
</div>



















<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.TechnologyDevice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConsumerRatingNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FunctionalityImprovements)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConsumerReport)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.TechnologyDevice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumerRatingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FunctionalityImprovements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumerReport)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
